{{#packageName}}
package {{packageName}}
{{/packageName}}

import {{packageName}}.{{serviceName}}Grpc.*

import io.grpc.BindableService
import io.grpc.CallOptions
import io.grpc.Channel
import io.grpc.MethodDescriptor
import io.grpc.ServerServiceDefinition
import io.grpc.Status
import io.grpc.StatusException
import io.grpc.StatusRuntimeException
import io.grpc.stub.AbstractStub
import io.grpc.stub.ServerCalls
import io.grpc.stub.StreamObserver

import kotlinx.coroutines.experimental.CompletableDeferred
import kotlinx.coroutines.experimental.CoroutineScope
import kotlinx.coroutines.experimental.Deferred
import kotlinx.coroutines.experimental.Dispatchers
import kotlinx.coroutines.experimental.GlobalScope
import kotlinx.coroutines.experimental.channels.Channel as KtChannel
import kotlinx.coroutines.experimental.channels.ReceiveChannel
import kotlinx.coroutines.experimental.channels.SendChannel
import kotlinx.coroutines.experimental.channels.consumeEach
import kotlinx.coroutines.experimental.launch
import kotlin.coroutines.experimental.Continuation
import kotlin.coroutines.experimental.CoroutineContext
import kotlin.coroutines.experimental.suspendCoroutine

{{#deprecated}}@Deprecated("deprecated"){{/deprecated}}
@javax.annotation.Generated(
    value = ["by gRPC Kotlin generator"],
    comments = "Source: {{protoName}}"
)
object {{className}} {

    /**
     * Creates a new coroutine stub that supports all call types for the service
     */
    @JvmStatic
    fun newStub(channel: Channel): {{serviceName}}KtStub {
        return {{serviceName}}KtStub(channel)
    }

    class {{serviceName}}KtStub : AbstractStub<{{serviceName}}KtStub> {

        private val delegate: {{packageName}}.{{serviceName}}Grpc.{{serviceName}}Stub

        internal constructor(channel: Channel) : super(channel) {
            delegate = {{packageName}}.{{serviceName}}Grpc.newStub(channel)
        }

        internal constructor(channel: Channel, callOptions: CallOptions) : super(channel, callOptions) {
            delegate = {{packageName}}.{{serviceName}}Grpc.newStub(channel).build(channel, callOptions)
        }

        override fun build(channel: Channel, callOptions: CallOptions): {{serviceName}}KtStub {
            return {{serviceName}}KtStub(channel, callOptions)
        }

        {{#methods}}
        {{#javaDoc}}{{{javaDoc}}}{{/javaDoc}}
        {{#deprecated}}@Deprecated("deprecated"){{/deprecated}}
        {{^isManyInput}}
        {{^isManyOutput}}
        {{! == unary req, unary resp == }}
        suspend fun {{methodName}}(request: {{inputType}}): {{outputType}} {
            return suspendCoroutine { cont ->
                delegate.{{methodName}}(request, ContinuationStreamObserver(cont))
            }
        }
        {{/isManyOutput}}
        {{#isManyOutput}}
        {{! == unary req, streaming resp == }}
        fun {{methodName}}(request: {{inputType}}): ReceiveChannel<{{outputType}}> {
            val responseChannel = StreamObserverChannel<{{outputType}}>()
            delegate.{{methodName}}(request, responseChannel)
            return responseChannel
        }
        {{/isManyOutput}}
        {{/isManyInput}}
        {{#isManyInput}}
        {{^isManyOutput}}
        {{! == streaming req, unary resp == }}
        fun {{methodName}}(): ManyToOneCall<{{inputType}}, {{outputType}}> {
            val responseDeferred = StreamObserverDeferred<{{outputType}}>()
            val requestObserver = delegate.{{methodName}}(responseDeferred)
            return ManyToOneCall(requestObserver, responseDeferred)
        }
        {{/isManyOutput}}
        {{#isManyOutput}}
        {{! == streaming req, streaming resp == }}
        fun {{methodName}}(): ManyToManyCall<{{inputType}}, {{outputType}}> {
            val responseChannel = StreamObserverChannel<{{outputType}}>()
            val requestObserver = delegate.{{methodName}}(responseChannel)
            return ManyToManyCall(requestObserver, responseChannel)
        }
        {{/isManyOutput}}
        {{/isManyInput}}
        {{/methods}}
    }

    {{#javaDoc}}{{{javaDoc}}}{{/javaDoc}}
    abstract class {{serviceName}}ImplBase(
        override val coroutineContext: CoroutineContext = Dispatchers.Default
    ) : BindableService, CoroutineScope {

        {{#methods}}
        {{#javaDoc}}{{{javaDoc}}}{{/javaDoc}}
        {{#deprecated}}@Deprecated("deprecated"){{/deprecated}}
        {{^isManyInput}}
        {{^isManyOutput}}
        {{! == unary req, unary resp == }}
        open suspend fun {{methodName}}(request: {{inputType}}): {{outputType}} {
            throw unimplemented(get{{methodNamePascalCase}}Method()).asRuntimeException()
        }

        internal fun {{methodName}}Internal(
            request: {{inputType}},
            responseObserver: StreamObserver<{{outputType}}>
        ) {
            launch {
                tryCatchingStatus(responseObserver) {
                    val response = {{methodName}}(request)
                    onNext(response)
                }
            }
        }
        {{/isManyOutput}}
        {{#isManyOutput}}
        {{! == unary req, streaming resp == }}
        open fun {{methodName}}(request: {{inputType}}): ReceiveChannel<{{outputType}}> {
            throw unimplemented(get{{methodNamePascalCase}}Method()).asRuntimeException()
        }

        internal fun {{methodName}}Internal(
            request: {{inputType}},
            responseObserver: StreamObserver<{{outputType}}>
        ) {
            launch {
                tryCatchingStatus(responseObserver) {
                    {{methodName}}(request)
                        .consumeEach { onNext(it) }
                }
            }
        }
        {{/isManyOutput}}
        {{/isManyInput}}
        {{#isManyInput}}
        {{^isManyOutput}}
        {{! == streaming req, unary resp == }}
        open suspend fun {{methodName}}(requestChannel: ReceiveChannel<{{inputType}}>): {{outputType}} {
            throw unimplemented(get{{methodNamePascalCase}}Method()).asRuntimeException()
        }

        internal fun {{methodName}}Internal(
            responseObserver: StreamObserver<{{outputType}}>
        ): StreamObserver<{{inputType}}> {
            val requestChannel = StreamObserverChannel<{{inputType}}>()
            launch {
                tryCatchingStatus(responseObserver) {
                    val response = {{methodName}}(requestChannel)
                    onNext(response)
                }
            }
            return requestChannel
        }
        {{/isManyOutput}}
        {{#isManyOutput}}
        {{! == streaming req, streaming resp == }}
        open fun {{methodName}}(requestChannel: ReceiveChannel<{{inputType}}>): ReceiveChannel<{{outputType}}> {
            throw unimplemented(get{{methodNamePascalCase}}Method()).asRuntimeException()
        }

        internal fun {{methodName}}Internal(
            responseObserver: StreamObserver<{{outputType}}>
        ): StreamObserver<{{inputType}}> {
            val requestChannel = StreamObserverChannel<{{inputType}}>()
            launch {
                tryCatchingStatus(responseObserver) {
                    {{methodName}}(requestChannel)
                        .consumeEach { onNext(it) }
                }
            }
            return requestChannel
        }
        {{/isManyOutput}}
        {{/isManyInput}}
        {{/methods}}

        override fun bindService(): ServerServiceDefinition {
            return ServerServiceDefinition.builder(getServiceDescriptor())
                {{#methods}}
                .addMethod(
                    get{{methodNamePascalCase}}Method(),
                    ServerCalls.{{grpcCallsMethodName}}(
                        MethodHandlers(this, METHODID_{{methodNameUpperUnderscore}})
                    )
                )
                {{/methods}}
                .build()
        }
    }

    private fun unimplemented(methodDescriptor: MethodDescriptor<*, *>): Status {
        return Status.UNIMPLEMENTED
            .withDescription(
                String.format(
                    "Method %s is unimplemented",
                    methodDescriptor.fullMethodName
                )
            )
    }

    private suspend fun <E> tryCatchingStatus(responseObserver: StreamObserver<E>, body: suspend StreamObserver<E>.() -> Unit) {
        try {
            responseObserver.body()
            responseObserver.onCompleted()
        } catch (t: StatusException) {
            responseObserver.onError(t)
        } catch (t: StatusRuntimeException) {
            responseObserver.onError(t)
        } catch (t: RuntimeException) {
            responseObserver.onError(Status.UNKNOWN.asRuntimeException())
            throw t
        } catch (t: Exception) {
            responseObserver.onError(Status.UNKNOWN.asException())
            throw t
        } catch (t: Throwable) {
            responseObserver.onError(Status.INTERNAL.asException())
            throw t
        }
    }

    class ManyToOneCall<in TRequest, out TResponse>(
        private val request: StreamObserver<TRequest>,
        private val response: Deferred<TResponse>
    ) : StreamObserverSendAdapter<TRequest>(request),
        Deferred<TResponse> by response

    class ManyToManyCall<in TRequest, out TResponse>(
        private val request: StreamObserver<TRequest>,
        private val response: ReceiveChannel<TResponse>
    ) : StreamObserverSendAdapter<TRequest>(request),
        ReceiveChannel<TResponse> by response

    open class StreamObserverSendAdapter<in E>(private val streamObserver: StreamObserver<E>) {

        fun close(cause: Throwable? = null): Boolean {
            if (cause != null) {
                streamObserver.onError(cause)
            } else {
                streamObserver.onCompleted()
            }

            return true
        }

        fun send(element: E) {
            streamObserver.onNext(element)
        }
    }

    private class ContinuationStreamObserver<E>(
        private val continuation: Continuation<E>
    ) : StreamObserver<E> {
        override fun onNext(value: E) { continuation.resume(value) }
        override fun onError(t: Throwable) { continuation.resumeWithException(t) }
        override fun onCompleted() { }
    }

    private class StreamObserverDeferred<E>(
        private val deferred: CompletableDeferred<E> = CompletableDeferred()
    ) : StreamObserver<E>, Deferred<E> by deferred {

        override fun onNext(value: E) { deferred.complete(value) }
        override fun onError(t: Throwable) { deferred.cancel(t) }
        override fun onCompleted() { /* nothing */ }
    }

    private class StreamObserverChannel<E>(
        private val channel: KtChannel<E> = KtChannel<E>(KtChannel.UNLIMITED)
    ) : StreamObserver<E>, ReceiveChannel<E> by channel {

        override fun onNext(value: E) { channel.offer(value) }
        override fun onError(t: Throwable?) { channel.close(cause = t) }
        override fun onCompleted() { channel.close(cause = null) }
    }

    {{#methods}}
    val METHODID_{{methodNameUpperUnderscore}} = {{methodNumber}}
    {{/methods}}

    private class MethodHandlers<Req, Resp> internal constructor(
        private val serviceImpl: {{serviceName}}ImplBase,
        private val methodId: Int
    ) : ServerCalls.UnaryMethod<Req, Resp>,
        ServerCalls.ServerStreamingMethod<Req, Resp>,
        ServerCalls.ClientStreamingMethod<Req, Resp>,
        ServerCalls.BidiStreamingMethod<Req, Resp> {

        @Suppress("UNCHECKED_CAST")
        override fun invoke(request: Req, responseObserver: StreamObserver<Resp>) {
            when (methodId) {
                {{#methods}}
                {{^isManyInput}}
                METHODID_{{methodNameUpperUnderscore}} ->
                    serviceImpl.{{methodName}}Internal(
                        request as {{inputType}},
                        responseObserver as StreamObserver<{{outputType}}>
                    )
                {{/isManyInput}}
                {{/methods}}
                else -> throw AssertionError()
            }
        }

        @Suppress("UNCHECKED_CAST")
        override fun invoke(responseObserver: StreamObserver<Resp>): StreamObserver<Req> {
            return when (methodId) {
                {{#methods}}
                {{#isManyInput}}
                METHODID_{{methodNameUpperUnderscore}} ->
                    serviceImpl.{{methodName}}Internal(
                        responseObserver as StreamObserver<{{outputType}}>
                    ) as StreamObserver<Req>
                {{/isManyInput}}
                {{/methods}}
                else -> throw AssertionError()
            }
        }
    }
}
