{{#packageName}}
package {{packageName}}
{{/packageName}}

import {{packageName}}.{{serviceName}}Grpc.*

import io.grpc.*
import io.grpc.stub.*

import kotlin.coroutines.*
import kotlinx.coroutines.*
import kotlinx.coroutines.channels.*
import kotlinx.coroutines.channels.Channel as KtChannel

{{#deprecated}}@Deprecated("deprecated"){{/deprecated}}
@javax.annotation.Generated(
    value = ["by gRPC Kotlin generator"],
    comments = "Source: {{protoName}}"
)
object {{className}} {

    /**
     * Creates a new coroutine stub that supports all call types for the service
     */
    @JvmStatic
    fun newStub(channel: Channel): {{serviceName}}KtStub {
        return {{serviceName}}KtStub(channel)
    }

    class {{serviceName}}KtStub : AbstractStub<{{serviceName}}KtStub> {

        private val delegate: {{packageName}}.{{serviceName}}Grpc.{{serviceName}}Stub

        internal constructor(channel: Channel) : super(channel) {
            delegate = {{packageName}}.{{serviceName}}Grpc.newStub(channel)
        }

        internal constructor(channel: Channel, callOptions: CallOptions) : super(channel, callOptions) {
            delegate = {{packageName}}.{{serviceName}}Grpc.newStub(channel).build(channel, callOptions)
        }

        override fun build(channel: Channel, callOptions: CallOptions): {{serviceName}}KtStub {
            return {{serviceName}}KtStub(channel, callOptions)
        }

        {{#methods}}
        {{#javaDoc}}{{{javaDoc}}}{{/javaDoc}}
        {{#deprecated}}@Deprecated("deprecated"){{/deprecated}}
        {{^isManyInput}}
        {{^isManyOutput}}
        {{! == unary req, unary resp == }}
        suspend fun {{methodName}}(request: {{inputType}}): {{outputType}} {
            return suspendCoroutine { cont ->
                delegate.{{methodName}}(request, ContinuationStreamObserver(cont))
            }
        }
        {{/isManyOutput}}
        {{#isManyOutput}}
        {{! == unary req, streaming resp == }}
        fun {{methodName}}(request: {{inputType}}): ReceiveChannel<{{outputType}}> {
            val responseChannel = StreamObserverChannel<{{outputType}}>()
            delegate.{{methodName}}(request, responseChannel)
            return responseChannel
        }
        {{/isManyOutput}}
        {{/isManyInput}}
        {{#isManyInput}}
        {{^isManyOutput}}
        {{! == streaming req, unary resp == }}
        fun {{methodName}}(): ManyToOneCall<{{inputType}}, {{outputType}}> {
            val responseDeferred = StreamObserverDeferred<{{outputType}}>()
            val requestObserver = delegate.{{methodName}}(responseDeferred)
            return ManyToOneCall(requestObserver, responseDeferred)
        }
        {{/isManyOutput}}
        {{#isManyOutput}}
        {{! == streaming req, streaming resp == }}
        fun {{methodName}}(): ManyToManyCall<{{inputType}}, {{outputType}}> {
            val responseChannel = StreamObserverChannel<{{outputType}}>()
            val requestObserver = delegate.{{methodName}}(responseChannel)
            return ManyToManyCall(requestObserver, responseChannel)
        }
        {{/isManyOutput}}
        {{/isManyInput}}
        {{/methods}}
    }

    {{#javaDoc}}{{{javaDoc}}}{{/javaDoc}}
    abstract class {{serviceName}}ImplBase(
        private val _coroutineContext: CoroutineContext = Dispatchers.Default,
        val sendChannelCapacity: Int = KtChannel.UNLIMITED
    ) : BindableService, CoroutineScope {

        override val coroutineContext: CoroutineContext
            get() = _coroutineContext + ContextCoroutineContextElement()

        {{#methods}}
        {{#javaDoc}}{{{javaDoc}}}{{/javaDoc}}
        {{#deprecated}}@Deprecated("deprecated"){{/deprecated}}
        {{^isManyInput}}
        {{^isManyOutput}}
        {{! == unary req, unary resp == }}
        open suspend fun {{methodName}}(request: {{inputType}}): {{outputType}} {
            throw unimplemented(get{{methodNamePascalCase}}Method()).asRuntimeException()
        }

        internal fun {{methodName}}Internal(
            request: {{inputType}},
            responseObserver: StreamObserver<{{outputType}}>
        ) {
            launch {
                tryCatchingStatus(responseObserver) {
                    val response = {{methodName}}(request)
                    onNext(response)
                }
            }
        }
        {{/isManyOutput}}
        {{#isManyOutput}}
        {{! == unary req, streaming resp == }}
        open suspend fun {{methodName}}(request: {{inputType}}): ReceiveChannel<{{outputType}}> {
            throw unimplemented(get{{methodNamePascalCase}}Method()).asRuntimeException()
        }

        internal fun {{methodName}}Internal(
            request: {{inputType}},
            responseObserver: StreamObserver<{{outputType}}>
        ) {
            launch {
                tryCatchingStatus(responseObserver) {
                    val responses = {{methodName}}(request)
                    for (response in responses) {
                      onNext(response)
                    }
                }
            }
        }
        {{/isManyOutput}}
        {{/isManyInput}}
        {{#isManyInput}}
        {{^isManyOutput}}
        {{! == streaming req, unary resp == }}
        open suspend fun {{methodName}}(requests: ReceiveChannel<{{inputType}}>): {{outputType}} {
            throw unimplemented(get{{methodNamePascalCase}}Method()).asRuntimeException()
        }

        internal fun {{methodName}}Internal(
            responseObserver: StreamObserver<{{outputType}}>
        ): StreamObserver<{{inputType}}> {
            val requests = StreamObserverChannel<{{inputType}}>()
            launch {
                tryCatchingStatus(responseObserver) {
                    val response = {{methodName}}(requests)
                    onNext(response)
                }
            }
            return requests
        }
        {{/isManyOutput}}
        {{#isManyOutput}}
        {{! == streaming req, streaming resp == }}
        open suspend fun {{methodName}}(requests: ReceiveChannel<{{inputType}}>): ReceiveChannel<{{outputType}}> {
            throw unimplemented(get{{methodNamePascalCase}}Method()).asRuntimeException()
        }

        internal fun {{methodName}}Internal(
            responseObserver: StreamObserver<{{outputType}}>
        ): StreamObserver<{{inputType}}> {
            val requests = StreamObserverChannel<{{inputType}}>()
            launch {
                tryCatchingStatus(responseObserver) {
                    val responses = {{methodName}}(requests)
                    for (response in responses) {
                        onNext(response)
                    }
                }
            }
            return requests
        }
        {{/isManyOutput}}
        {{/isManyInput}}
        {{/methods}}

        override fun bindService(): ServerServiceDefinition {
            return ServerServiceDefinition.builder(getServiceDescriptor())
                {{#methods}}
                .addMethod(
                    get{{methodNamePascalCase}}Method(),
                    ServerCalls.{{grpcCallsMethodName}}(
                        MethodHandlers(this, METHODID_{{methodNameUpperUnderscore}})
                    )
                )
                {{/methods}}
                .build()
        }
    }

    private fun unimplemented(methodDescriptor: MethodDescriptor<*, *>): Status {
        return Status.UNIMPLEMENTED
            .withDescription("Method ${methodDescriptor.fullMethodName} is unimplemented")
    }

    private fun <E> handleException(t: Throwable?, responseObserver: StreamObserver<E>) {
        when (t) {
            null -> return
            is CancellationException -> handleException(t.cause, responseObserver)
            is StatusException, is StatusRuntimeException -> responseObserver.onError(t)
            is RuntimeException -> {
                responseObserver.onError(Status.UNKNOWN.asRuntimeException())
                throw t
            }
            is Exception -> {
                responseObserver.onError(Status.UNKNOWN.asException())
                throw t
            }
            else -> {
                responseObserver.onError(Status.INTERNAL.asException())
                throw t
            }
        }
    }

    private suspend fun <E> tryCatchingStatus(responseObserver: StreamObserver<E>, body: suspend StreamObserver<E>.() -> Unit) {
        try {
            responseObserver.body()
            responseObserver.onCompleted()
        } catch (t: Throwable) {
            handleException(t, responseObserver)
        }
    }

    class ManyToOneCall<in TRequest, out TResponse>(
        private val request: StreamObserver<TRequest>,
        private val response: Deferred<TResponse>
    ) : StreamObserverSendAdapter<TRequest>(request),
        Deferred<TResponse> by response

    class ManyToManyCall<in TRequest, out TResponse>(
        private val request: StreamObserver<TRequest>,
        private val response: ReceiveChannel<TResponse>
    ) : StreamObserverSendAdapter<TRequest>(request),
        ReceiveChannel<TResponse> by response

    open class StreamObserverSendAdapter<in E>(private val streamObserver: StreamObserver<E>) {

        fun close(cause: Throwable? = null): Boolean {
            if (cause != null) {
                streamObserver.onError(cause)
            } else {
                streamObserver.onCompleted()
            }

            return true
        }

        fun send(element: E) {
            streamObserver.onNext(element)
        }
    }

    private class ContinuationStreamObserver<E>(
        private val continuation: Continuation<E>
    ) : StreamObserver<E> {
        override fun onNext(value: E) { continuation.resume(value) }
        override fun onError(t: Throwable) { continuation.resumeWithException(t) }
        override fun onCompleted() { }
    }

    private class StreamObserverDeferred<E>(
        private val deferred: CompletableDeferred<E> = CompletableDeferred()
    ) : StreamObserver<E>, Deferred<E> by deferred {

        override fun onNext(value: E) { deferred.complete(value) }
        override fun onError(t: Throwable) { deferred.completeExceptionally(t) }
        override fun onCompleted() { /* nothing */ }
    }

    private class StreamObserverChannel<E>(
        private val channel: KtChannel<E> = KtChannel<E>(KtChannel.UNLIMITED)
    ) : StreamObserver<E>, ReceiveChannel<E> by channel {

        override fun onNext(value: E) { channel.offer(value) }
        override fun onError(t: Throwable?) { channel.close(cause = t) }
        override fun onCompleted() { channel.close(cause = null) }
    }

    private class ContextCoroutineContextElement : ThreadContextElement<Context> {
        private val grpcContext: Context = Context.current()
        companion object Key : CoroutineContext.Key<ContextCoroutineContextElement>

        override val key: CoroutineContext.Key<ContextCoroutineContextElement>
            get() = Key

        override fun updateThreadContext(context: CoroutineContext): Context = grpcContext.attach()
        override fun restoreThreadContext(context: CoroutineContext, oldState: Context) = grpcContext.detach(oldState)
    }
    {{#methods}}
    val METHODID_{{methodNameUpperUnderscore}} = {{methodNumber}}
    {{/methods}}

    private class MethodHandlers<Req, Resp> internal constructor(
        private val serviceImpl: {{serviceName}}ImplBase,
        private val methodId: Int
    ) : ServerCalls.UnaryMethod<Req, Resp>,
        ServerCalls.ServerStreamingMethod<Req, Resp>,
        ServerCalls.ClientStreamingMethod<Req, Resp>,
        ServerCalls.BidiStreamingMethod<Req, Resp> {

        @Suppress("UNCHECKED_CAST")
        override fun invoke(request: Req, responseObserver: StreamObserver<Resp>) {
            when (methodId) {
                {{#methods}}
                {{^isManyInput}}
                METHODID_{{methodNameUpperUnderscore}} ->
                    serviceImpl.{{methodName}}Internal(
                        request as {{inputType}},
                        responseObserver as StreamObserver<{{outputType}}>
                    )
                {{/isManyInput}}
                {{/methods}}
                else -> throw AssertionError()
            }
        }

        @Suppress("UNCHECKED_CAST")
        override fun invoke(responseObserver: StreamObserver<Resp>): StreamObserver<Req> {
            when (methodId) {
                {{#methods}}
                {{#isManyInput}}
                METHODID_{{methodNameUpperUnderscore}} ->
                    return serviceImpl.{{methodName}}Internal(
                        responseObserver as StreamObserver<{{outputType}}>
                    ) as StreamObserver<Req>
                {{/isManyInput}}
                {{/methods}}
                else -> throw AssertionError()
            }
        }
    }
}
